body{
    background-color: rgb(243, 244, 246);
}

nav{
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.navbar > .container-fluid {
    justify-content: center !important;
}

.card__products{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.card{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    width: 40% !important;
}  

.card-title{
    text-transform: capitalize;
}

th{
    text-transform: capitalize !important;
}

.col__addcart{
    display: flex;
    justify-content: end;
    align-items: center; 
}

.btn__addcart{
    width: 100%;
    font-size: 50%;
}

.row__addcart{
    margin-bottom: 2%;
}

input{
    padding: 0 !important;
    text-align: center;
}

.bg__img{
    position: relative;
    background-image: url('/assets/shopping_cart.jpg');
    background-size: cover;
    border-radius: 10px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    height: 600px;
    /* filter: blur(1px) brightness(0.5); */
}

.card__cart{
    height: 100%;
    overflow: auto;
}

.products__card{
    width: 100% !important; 
    height: 100%; 
    background-color: transparent; 
    border-width: 0; 
    border-radius: 10px; 
    height: 50%
}

.total_price_form{
    position: absolute;
    bottom: 0;
}

#btn_order{
    position: absolute;
    bottom: 0;
    right: 3%;
}

@media only screen 
  and (max-device-width: 812px) {
    .card{
        width: 100% !important;
    }
    .bg__img{
        height: 800px;
    }
    table{
        width: 2rem;
        font-size: 6px;
    }
    .products__card{
        height: 90%;
    }
    .total_price_form{
        width: 40%;
        font-size: 5px;
        font-weight: 800;
    }
    #btn_order{
        width: 33%;
        font-size: 8px;
        height: 7%;
    }
}